.signup-form{
    width: 30%;
}

button[disabled]{
    background-color: #84A98C;
}

form{
    background-color: rgba(255, 255, 255, 0.796);
}


.btn-tertiary {
    color: #52796F;
}

.form-outline{
    .form-control:focus ~ .form-label{
        color:#52796F;
    }
}